<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mwservice.svcpassbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/small_svc_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/small_svc_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity
            android:name=".LoginActivity"
            android:label="SVC BANK m-Passbook"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterActivity"
            android:label="Registration"
            android:screenOrientation="portrait"/>
        <activity android:name=".ForgotPPIN"
            android:label="Forgot PPIN"
            android:screenOrientation="portrait"/>
        <activity android:name=".BranchLocatorActivity"
            android:label="Branch Locator"
            android:screenOrientation="portrait"/>
        <activity android:name=".ROIAlertActivity"
            android:label="ROI Alert"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewPassbook"
            android:label="View Passbook"
            android:screenOrientation="portrait"/>
        <activity android:name=".AccDetails"
            android:label="Account Details"
            android:screenOrientation="portrait"/>
        <activity android:name=".EntriesActivity"
            android:label="Passbook Entries"
            android:screenOrientation="landscape"/>
        <activity android:name=".OTPActivity"
            android:label="OTP Verification"
            android:screenOrientation="portrait"/>
        <activity android:name=".SetPINActivity"
            android:label="Set PIN"
            android:screenOrientation="portrait"/>
    </application>

</manifest>